

<div>
  <div class="table-top-header">
    <mat-icon>delete_outline</mat-icon>
    <mat-icon>update</mat-icon>
    <mat-icon>playlist_add</mat-icon>
  </div>
  <div style="margin: 10px;padding: 10px; box-shadow: 0 0 3px 3px rgba(151, 152, 155, 0.5); border-radius: 3px;">
    <table>
      <thead>
        <tr>
          <th style="padding: 5px;">Frame</th>
          <th style="padding: 5px;">Description</th>
          <th style="padding: 5px;">Parent Description</th>
          <th style="padding: 5px;">Ordering</th>
          <th style="padding: 5px;">Created Date</th>
          <th style="padding: 5px;">Created By</th>
          <th style="padding: 5px;">Updated Date</th>
          <th style="padding: 5px;">Updated By</th>
        </tr>
      </thead>
    </table>
  </div>
</div>



