

<div>
  <div class="table-top-header">
    <mat-icon>delete_outline</mat-icon>
    <mat-icon>update</mat-icon>
    <mat-icon>playlist_add</mat-icon>
  </div>
  <div style="margin: 10px;padding: 10px; box-shadow: 0 0 3px 3px rgba(151, 152, 155, 0.5); border-radius: 3px;">
    <table>
      <thead>
        <tr>
          <th style="padding: 5px;">Frame</th>
          <th style="padding: 5px;">Description</th>
          <th style="padding: 5px;">Parent Description</th>
          <th style="padding: 5px;">Ordering</th>
          <th style="padding: 5px;">Created Date</th>
          <th style="padding: 5px;">Created By</th>
          <th style="padding: 5px;">Updated Date</th>
          <th style="padding: 5px;">Updated By</th>
        </tr>
      </thead>
      <tbody *ngFor="let a of frameList">
        <tr style="cursor: pointer;" (dblclick)="sendFrame(a)" onkeypress="getKeyDate($events)" [ngClass]="{'selected': a.isSelected }">
          <td style="padding: 5px;"> {{ a.frame}} </td>
          <td style="padding: 5px;"> {{ a.frameDescription}} </td>
          <td style="padding: 5px;"> {{ a.parentDesc}} </td>
          <td style="padding: 5px;"> {{ a.ordering}} </td>
          <td style="padding: 5px;"> {{ a.createdDateDispl}}</td>
          <td style="padding: 5px;"> {{ a.createdBy}}</td>
          <td style="padding: 5px;"> {{ a.updatedDateDispl}}</td>
          <td style="padding: 5px;"> {{ a.updatedBy}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin: 10px;padding: 10px; box-shadow: 0 0 3px 3px rgba(151, 152, 155, 0.5); border-radius: 3px;">
    <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="matIcons?.length"
               [pageSize]="pageSize"
               [disabled]="disabled"
               [showFirstLastButtons]="showFirstLastButtons"
               [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
               [hidePageSize]="hidePageSize"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>

<input type="search" (input)="changeText($event)">
    <table>
      <thead>
        <tr>
          <th style="padding: 5px;">Icon Tag</th>
          <th style="padding: 5px;">Description</th>
          <th style="padding: 5px;">Parent Description</th>
          <th style="padding: 5px;">Ordering</th>
          <th style="padding: 5px;">Created Date</th>
          <th style="padding: 5px;">Created By</th>
          <th style="padding: 5px;">Updated Date</th>
          <th style="padding: 5px;">Updated By</th>
        </tr>
      </thead>
      <tbody *ngFor="let a of matIconsList">
        <tr style="cursor: pointer;" (dblclick)="sendFrame(a)" onkeypress="getKeyDate($events)" [ngClass]="{'selected': a.isSelected }">
          <td style="padding: 5px;"> <mat-icon>{{a.iconTag}} </mat-icon> </td>
          <td style="padding: 5px;"> {{ a.iconTag}} </td>
          <td style="padding: 5px;"> {{ a.iconDescription}} </td>
          <td style="padding: 5px;"> {{ a.createdDateDispl}}</td>
          <td style="padding: 5px;"> {{ a.createdBy}}</td>
          <td style="padding: 5px;"> {{ a.updatedDateDispl}}</td>
          <td style="padding: 5px;"> {{ a.updatedBy}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>



