<div style="padding: 10px;">
  <table>
    <thead>
      <tr>
        <th style="padding: 5px;">Frame</th>
        <th style="padding: 5px;">Description</th>
        <th style="padding: 5px;">Parent Description</th>
        <th style="padding: 5px;">Ordering</th>
        <th style="padding: 5px;">Created Date</th>
        <th style="padding: 5px;">Created By</th>
        <th style="padding: 5px;">Updated Date</th>
        <th style="padding: 5px;">Updated By</th>
      </tr>
    </thead>
    <tbody *ngFor="let a of frameList">
      <tr style="cursor: pointer;" (click)="sendFrame(a)" onkeypress="getKeyDate($events)" [ngClass]="{'selected': a.isSelected }">
        <td style="padding: 5px;"> {{ a.frame}} </td>
        <td style="padding: 5px;"> {{ a.frameDescription}} </td>
        <td style="padding: 5px;"> {{ a.parentDesc}} </td>
        <td style="padding: 5px;"> {{ a.ordering}} </td>
        <td style="padding: 5px;"> {{ a.createdDateDispl}}</td>
        <td style="padding: 5px;"> {{ a.createdBy}}</td>
        <td style="padding: 5px;"> {{ a.updatedDateDispl}}</td>
        <td style="padding: 5px;"> {{ a.updatedBy}}</td>
      </tr>
    </tbody>
  </table>
</div>