
button{
    background: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    outline: none;
}
.bgPowderBlue, .bgPaleGreen, .bgLavender, .bgCoral{
    min-width: 90px;
}
.bgPowderBlue{
    border-color: rgb(176, 224, 230);
    background: rgb(176, 224, 230, 0.3);
    color: #08cde7;
}

.bgPaleGreen{
    border-color: rgb(152, 251, 152);
    background: rgb(152, 251, 152, 0.3);
    color: #066406;
}

.bgLavender{
    border-color: rgb(230, 230, 250);
    background: rgb(230, 230, 250, 0.3);
    color: #2c2cff;
}

.bgCoral{
    border-color: rgb(255, 127, 80);
    background: rgb(255, 127, 80, 0.3);
    color: #af3305;
}

select {
    outline :inherit;
    width: 100%;
    border: 1px solid rgb(201, 197, 197, 0.5);
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(100, 149, 237, 0.5);
    font-size: 20px;
    color: var(--CornflowerBlue);
}
option{
    padding: 10px;
    font-size: 16px;
}
input {
    outline :inherit;
    width: 100%;
    border: 1px solid rgb(201, 197, 197, 0.5);
    background: transparent;
    padding: 15px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(100, 149, 237, 0.5);
    font-size: 20px;
    color: var(--CornflowerBlue);
}
input:focus{
    box-shadow: 0 0 10px rgba(100, 149, 237, 0.5);
    border: 1px double rgb(100, 149, 237);
}
input:hover{
    box-shadow: 0 0 10px rgba(100, 149, 237, 0.5);
    border: 1px double rgb(100, 149, 237);
}
input:disabled{
    box-shadow: 0 0 0 rgba(100, 149, 237, 0.5);
    opacity: .4;
}
input:disabled:hover{
    box-shadow: 0 0 0 rgba(100, 149, 237, 0.5);
    opacity: .4;
}

input.error{
    box-shadow: 0 0 10px rgb(253, 0, 0);
    color: red;
}
input.error:hover{
    box-shadow: 0 0 10px rgb(253, 0, 0);
}
input.error:focus{
    box-shadow: 0 0 10px rgb(253, 0, 0);
}

select.error{
    box-shadow: 0 0 10px rgb(253, 0, 0);
    color: red;
}
select.error:hover{
    box-shadow: 0 0 10px rgb(253, 0, 0);
}
select.error:focus{
    box-shadow: 0 0 10px rgb(253, 0, 0);
}
.error{
    color: red;
}
.cap-tion{
    position: absolute;
    top: -4px;
    left: 15px;
    background: var(--bg1);
    padding: 0 4px;
    font-size: 16px;
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap; 
    color: var(--CornflowerBlue);
}

.width-100{
    width: 100%;
}
.nav-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--CornflowerBlue);
    font-size: 14px;
    cursor: pointer;
}