<app-abstract-custom-control [frmC]="formContr">
    <mat-form-field style="width: 100%;">
        <mat-select [formControl]="formContr">
          <mat-select-trigger>
            <span *ngIf="formContr.value" class="example-additional-selection">
              {{ selectedData}} 
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let datum of dDownList" [value]="datum.key">
            {{ datum.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
</app-abstract-custom-control>




